.Tela{
  position: relative;
  text-align: center;
}

.game-over-text{
  position: absolute;
  top: 42%;
  left: 42%;
  visibility: hidden;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.points{
  position: absolute;
  top: 15%;
  left: 15%;
background-color: azure;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
}

